<%- include('../pages/headeradmin') %>

<section class="unsubscribe-area pt-100 pb-20">
    <div class="container">        
        <div class="row usb">
            <div class="col-xxl-12 text-center pt-20">
                <h4>Important</h4>
                <p class="">
                    Après désouscription vous aurez accès à votre compte pendant 7jours.
                    Après cette période toutes vos applications seront supprimées et le service ne se chargera plus de gérer votre sécurité.
                    Vous pouvez toujours revenir pendant les 7jours.
                </p>                
            </div>

            <div class="row text-center pt-20 pb-100">
                <div class="col-xxl-12 ">
                    <a href="/" class="btn-box fill">Je mets fin au service</a>                    
                </div>
            </div>
        </div>       
</section>
                
<%- include('../pages/footer') %>
