<%- include('../pages/headeradmin') %>
<section class="apps-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 text-center">
                <div class="section-title">
                    <h4>Mes applications</h4>
                    <p>Ici vous retrouvez la liste de toutes vos applications</p>
                </div>
            </div>
        </div>
        <div class="row apps">
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
        </div>
        <div class="row apps">
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
        </div>
        <div class="row apps">
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="single-app">
                    <div class="row low">
                        <h4><a href="single-app">Nom de l'application</a></h4>
                        <div>
                            <span>Techno1</span>
                            <span>Techno2</span>
                            <span>Techno3</span>
                            <span>Techno4</span>
                        </div>
                    </div>
                    <div class="row top">
                        Description de l'application
                    </div>
                </div>
            </div>
        </div>

        <div class="row add-app text-center pb-20 pt-20">
            <div class="col-xxl-12 ">
                <a href="/apps/create" class="btn-box fill">Ajouter une nouvelle app</a>
            </div>
        </div>

        <form action="" method="post">
            <div class="row config-area text-center pb-20 pt-20">
                <h4 class="pb-20 pt-20">Effectuez des configuration globales pour vos applications</h4>            
                    <div class="col-xxl-4">
                        <h4>Payement & Facturation</h4>
                        <select class="form-select" aria-placeholder="Mode facturation" name="facturationMode" id="facturationMode">
                            <option value="">Select billing mode...</option>
                            <option value="PAYG">Pay As You Go</option>
                        </select>
                        <select class="form-select" aria-placeholder="Mode payement" name="paymentMode" id="paymentMode" class="ui fluid dropdown">
                            <option value="">Select payment mode...</option>
                            <option value="MM">Mobile Money</option>
                        </select>
                    </div>
                    <div class="col-xxl-4">
                        <h4>Users Providing</h4>
                        <select name="usersMode" id="">
                            <option value="">Select payment mode...</option>
                            <option value="UF">Fédération des users</option>
                            <option value="file">Par fichier</option>
                        </select> 
                    </div>
                    <div class="col-xxl-4 ">
                        <a href="" class="btn-link">Enregistrer les modifications</a>
                    </div>
            </div>
        </form>
    </div>
</section>
<%- include('../pages/footer') %>
