<footer class="footer pt-100 pb-100">
    <div class="container">
        <div class="foot-wrapper">
            <div id="foot-topnav" class="foot-topnav">
				<div id="foot-sectionnav" class="foot-sectionnav">
					<ul class="foot-items foot-items-4">
						<li id="foot-nav-1" class="foot-nav">							
							<div class="cs-gfoot-sectionname">Produits</div>
							<ul class="foot-sub">
								<li><a class="cs-link-fr" href="/fr/why-claris/" data-link-id="L2">Pourquoi choisir Claris</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
                            </ul>
                        </li>
                        <li id="foot-nav-2" class="foot-nav">							
							<div class="cs-gfoot-sectionname">Produits</div>
							<ul class="foot-sub">
								<li><a class="cs-link-fr" href="/fr/why-claris/" data-link-id="L2">Pourquoi choisir Claris</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
                            </ul>
                        </li>
                        <li id="foot-nav-3" class="foot-nav">							
							<div class="cs-gfoot-sectionname">Produits</div>
							<ul class="foot-sub">
								<li><a class="cs-link-fr" href="/fr/why-claris/" data-link-id="L2">Pourquoi choisir Claris</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
                            </ul>
                        </li>
                        <li id="foot-nav-4" class="foot-nav">							
							<div class="cs-gfoot-sectionname">Produits</div>
							<ul class="foot-sub">
								<li><a class="cs-link-fr" href="/fr/why-claris/" data-link-id="L2">Pourquoi choisir Claris</a></li>
								<li><a class="cs-link-fr" href="/fr/filemaker/" data-link-id="L4">Claris FileMaker</a></li>
                            </ul>
                        </li>                        
                    </ul>
                </div>
                <div class="row pb-20">
                    <div class="col-md-2 text-center">
                        <a href="" class="btn-box">Essayer</a>
                    </div>
                    <div class="col-md-2 text-center">
                        <a href="" class="btn-box">Tarifs</a>
                    </div>
                </div>
            </div>            
            <div id="foot-lowernav" class="foot-lowernav">
				<div id="foot-legalcopyright" class="foot-legalcopyright">
					<p>Copyright © 2022, CloudApp Inc.</p>
				</div><!-- //cs-gfoot-legalcopyright -->
				<div id="foot-linknav" class="foot-linknav">
					<ul class="foot-items">
						<li><a class="cs-link-fr" href="/fr/company/legal/terms.html" data-link-id="L23">Conditions d’utilisation</a></li>
						<li><a class="cs-link-fr" href="/fr/company/legal/" data-link-id="L16" target="_blank" rel="noopener">Légal<span class="cs-secret">(ouverture dans une nouvelle fenêtre)</span></a></li>
						<li><a class="cs-link-fr" href="/fr/company/legal/privacy.html" data-link-id="L24">Politique de confidentialité</a></li>
					</ul><!-- //items -->
				</div><!-- //foot-linknav -->
				<div class="foot-ccrl">
					<a class="foot-ccrl-button cs-link-fr" href="/choose-country-region/?page=" data-link-id="L185">
						<span class="foot-ccrl-langiso">FR</span><span class="foot-ccrl-text">Choisir un pays ou une zone géographique</span>
					</a>
				</div><!-- //cs-gfoot-ccr -->
			</div>
        </div>
    </div>
</footer>
</body>
</html>
