<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App cloud</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>
<body> 
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <nav class="navbar navbar-expand-lg">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/">App Cloud</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Présentation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Fonctions</a>
                                    </li>  
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Facturation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="">Premiers pas</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-box" href="/login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-box" href="/signup">Signup</a>
                                    </li>                                                                                                           
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>       
        <% if(locals.flash && locals.flash.error) { %>
            <div class="ui negative message"> 
                <%= flash.error %>
            </div>
            <% } %>
    
            <% if(locals.flash && locals.flash.success) { %>
            <div class="ui positive message"> 
                <%= flash.success %>
            </div>        
            <% } %>